@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


.animate-charcter
{
  margin-top: 5px;
  margin-bottom: 60px;
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 8s linear infinite;
  display: inline-block;
      font-size: 40px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
main {
  margin: auto;
  max-width: 100%;
  max-height: 100%; 
  height: auto;
}
main img {
  border-radius: 30px;
  margin-bottom: 30px;
  width: 250px;
  height: 320px;
}
.profile img {
  margin-top: 7em;
  box-shadow: 0 0 20px rgb(188, 201, 226);
}
.profile {
  text-align: center;
}


body {
  font-size: 18px;
  color: white;
  align-items: center;
  background: #202b38;
}

.button1 i {
  padding-right:10px;
} 

.button1,
.button2 {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: auto;
  padding: 15px 25px;
  border: none;
  margin: 0 50px; 
  font-size: 28px;
  cursor: pointer;
  color: white;
  background-color: rgb(137, 86, 167);
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button1:hover,
.button2:hover {
  color: rgb(97, 58, 119);
}

.button1:active,
.button2:active {
  background-color:rgb(57, 47, 99);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#buttons { 
  text-align: center;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 6em;
}


header {
  height: 65px;
  text-align: right;
  margin-bottom: 20px;
}

header a {
  font-size: 36px;
  color: white;
}

header a:hover {
  color: rgb(86, 185, 231);
}

header i {
  padding: 8px;
}


header {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

  
#introduction {
  background: rgb(60, 50, 102);
  height: auto;
  justify-content: center;
  margin: 10px 0px;
  border-radius: 60px;
  margin-bottom: 5em;
  padding: 20px 10px;
}

#education {
  padding-top: 40px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}

.education {
  background-color: #0f1d2e;
}

#education h2 {
  margin-top: 5px;
  margin-bottom: 10px;
}

table {
  margin: auto;
  padding-bottom: 80px;
  background-color: #0f1d2e;
  border-collapse: separate;
  border-spacing: 0 2em;
  overflow-x: auto;
  width:fit-content;
}

tbody {
  padding-top: 0px;
  max-width: 1024px;
  min-width: 400px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

tr {
  box-shadow: 0 0 20px rgb(188, 201, 226);
}

th 
#period,
#period1,
#period2,
#period3 {
  background: #999;
  padding: 5px 20px;
  margin: 10px 20px;
    }

td
#school,
#school1,
#school2,
#school3 {
  background-color: aliceblue;
  width: 500px;
  color: rgb(85, 85, 85);
  padding: 10px;
  margin:10px 0px;
}

.more {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.more i {
  margin-top: 15px;
  padding: 18px;
  align-items: center;
}

  
#contactme {
  margin: auto;
  display: flex;
  justify-content: center;
}

div#contact {
  margin: auto;
  display: flex;
}


#call {
  margin-top: 30px;
  padding: 0 20px;
  display: flex;
}

.contact {
  background-color: #0f1d2e;
}

.contact-table {
  background-color: #0f1d2e;
  padding-bottom: 4em;
  margin-left: auto;
  margin-right: auto;
}

.text-danger {
  color: red;
  margin-top: 7px;
  padding-right: 8px;
}

#reflection {
  margin: auto;
  display: flex;
  justify-content: center;
}

.youtube {
  padding: 0em 6em;
}

.github {
  padding: 0em 6em;
  text-align: center;
}

#youtube {
  color: white;
  text-align: center;
  margin-top: 6px;
  padding-left: 22px;

}
#ref {
  margin-top: 12px;
  padding-left: 7px;
  font-size: 14px;
}

#github {
  color: white;
  margin-bottom: 10px;
}

#git {
  margin-top: 2px;
  font-size: 14px;
  text-align: center;
}

small {
  font-family: 'Times New Roman', Times, serif;
  color:rgb(199, 196, 196);
}

@media screen and (max-width: 640px) {
  .button1,
  .button2 {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: auto;
  padding: 10px 20px;
  border: none;
  margin: 0 10px; 
  font-size: 14px;
  cursor: pointer;
  color: white;
  background-color: rgb(137, 86, 167);
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
}

@media screen and (max-width: 1024px) {
  
  th 
  #period,
  #period1,
  #period2,
  #period3 {
    background: #999;
    padding: 0px 5px;
    margin: 5px 10px;
      }

  td
  #school,
  #school1,
  #school2,
  #school3 {
    background-color: aliceblue;
    width: 500px;
    color: rgb(85, 85, 85);
    padding: 5px;
    margin:5px 0px;
  }

  #reflection {
    margin: auto;
    display: flex;
    justify-content: center;
  }
  
  .youtube {
    padding: 1em 1em;
  }
  
  .github {
    padding: 1em 1em;
    text-align: center;
  }
  
  #youtube {
    color: white;
    text-align: center;
    margin-top: 6px;
    padding-left: 22px;
  
  }
  #ref {
    margin-top: 12px;
    padding-left: 7px;
    font-size: 14px;
  }
  
  #github {
    color: white;
    margin-bottom: 10px;
  }
  
  #git {
    margin-top: 2px;
    font-size: 14px;
    text-align: center;
  }
  input[type="submit"] {
    font-family: 'Raleway', sans-serif;
    width: 100px;
    padding: 10px;
    background-color: rgb(0,123,255);
    border: none;
    color: white;
  }
  
  input[type="reset"] {
    font-family: 'Raleway', sans-serif;
    width: 100px;
    background-color: rgb(78, 78, 78);
    border: none;
    padding: 10px;
    margin-right: 10px;
    color: white;
  }
  
  input[type="submit"]:hover,
  input[type="submit"]:focus {
    background-color: #1b3453;
  }
  
  input[type="reset"]:hover,
  input[type="reset"]:focus {
    background-color: #202b38;
  }
  
  .buttons {
    margin-top: 20px;
    margin: 10px;
    padding: 10px;
  }

  input, textarea {
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    margin: 15px 0;
    padding: 0.8em;
    border-radius: 10px;
    border: 1px solid rgb(206,212,218);
  }

  #contactfo input, textarea{
    width: calc(95% - 30px);
    padding: 5px 10px;
    font-size: 22px;
  }

  #contactfo div {
    margin: 20px;
  }

  #radiobuttons {
    display: flex;
    padding: 20px 0;
    margin-right: 50px;
    align-items: center;
  }

  .buttons {
    display: flex;
  }

}

fieldset {
  width: auto;
  max-width: 1024px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}
@media screen and (min-width: 1024px) {

    
  .profile h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
    font-size: 48px;
  }

  #div1 {
    padding: 10px 40px;
    display: flex;
    justify-content: center;
    max-width: 1024px;
    min-width: 400px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .honesty,
  .basic {
    width: 500px;
    padding: 10px;
  }
  
  .basic h1 {
    padding-left: 20px;
    padding-bottom: 25px;
  }
  


  #Detail p{
    margin-bottom: 60px;
  }
  
  .detail {
    max-width: 1024px;
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  
  
  fieldset div {
    padding: 10px;
  }
  
  
  form#contactfo {
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(6, 140px);
    grid-template-rows: 10vh;
    grid-gap: 10px;
    justify-content: center;
    font-size: 18px;
  }
  
  #contactfo input{
    width: 240px;
    padding: 10px 20px;
    font-size: 22px;
  }
  .fname {
    grid-column: 1 / span 2;
  }

  .mname {
    grid-column: 3 / span 2;
  }

  .lname {
    grid-column: 5 / span 2;
  }

  .phone {
    grid-column: 5 / span 2;
  }

  .email {
    grid-column: 1 / span 4;
  }
  input#email {
    width: 542px;
  }

  .address {
    grid-column: 1 / span 6;
  }
  input#address{
    width: 845px;
  }
  
  .address textarea, .address input {
    width: 945px;
  }
  
  .city {
    grid-column: 1 / span 3;
  }
  input#city {
    width: 390px;
  }

  .postalcode {
    grid-column: 4 / span 3;
  }
  input#postalcode {
    width: 395px;
  }
  .purpose {
    grid-column: 1 / span 3;
  }
  #hr {
    grid-column: 4 / span 3;
  }
  input#Hourly_rate {
    width: 395px;
  }
  .message {
    grid-column: 1 / span 6;
  }
  

  
  form label {
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10px;
    font-size:1.3em;
  }
  

  input, textarea {
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    margin: 15px 0;
    padding: 0.8em;
    border-radius: 10px;
    border: 1px solid rgb(206,212,218);
  }
  
  input:focus,
  textarea:focus {
    outline: 2px solid lightskyblue;
  }
  
  
  input[type="submit"] {
    font-family: 'Raleway', sans-serif;
    width: 150px;
    background-color: rgb(0,123,255);
    border: none;
    color: white;
  }
  
  input[type="reset"] {
    font-family: 'Raleway', sans-serif;
    width: 150px;
    background-color: rgb(78, 78, 78);
    border: none;
    margin-right: 20px;
    color: white;
  }
  
  input[type="submit"]:hover,
  input[type="submit"]:focus {
    background-color: #1b3453;
  }
  
  input[type="reset"]:hover,
  input[type="reset"]:focus {
    background-color: #202b38;
  }
  
  .buttons {
    grid-column: 5 / span 2;
    display: flex;
    justify-content: center;
  } 
  #radiobuttons {
    display: flex;
    padding: 20px 0;
    padding-right: 40px;
    align-items: center;
  }
}

footer {
  padding-top:20px;
  background-color: #0f1d2e;
}
hr {
  border-color: #666;
  margin-bottom: 5px;
}

#question {
  width: 40px;
  padding: 0 10px;
}

#comment {
  width: 40px;
  margin-left: 20px;
  padding: 0 10px;
}

#hiring {
  width: 40px;
  margin-left: 20px;
  padding: 0 10px;
}

#hr {
  display: none;
}