
header {
    height: 50px;
    max-width: auto;
    text-align: center;
    margin-top: 0px;
    background-color: rgb(179, 133, 206);
    flex: 0;
}

main button {
    background-color: rgb(179, 133, 206);
    border-radius: 10px;
}